dvc
tensorflow==2.18.0
pandas==2.3.3
mlflow==3.1.4
notebook==7.4.0
numpy==2.0.2
matplotlib==3.9.4
seaborn==0.13.2
python-box==6.0.2
types-PyYAML
PyYAML==6.0.2
tqdm==4.67.3
ensure==1.0.2
joblib==1.5.3
scipy==1.13.1
Flask-Cors
Flask==3.1.3
gdown==5.2.1
scikit-learn==1.6.1
-e .